/* Global Styles */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: #333;
    
}

.header, .mid, .footer {
    padding-left: 10%;
    padding-right: 10%;
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    background-color: #3E2723;
    flex: 1 1 150px;
    padding-top: 10px;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-topline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.logoline, .searchbar, .cart {
    display: flex;
}

/* cart specific layout */
.mid .cart-container{
    display: flex;
    justify-content: space-around;
    gap:72px;
    align-items: flex-start; /* makes cart summary not stretch to shoppign cart length */
}

.cart-container .card{
    width:40%;
    padding-left: 48px;
    padding-right: 48px;
}

.cart-container .card .product{
    display:flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 24px;
    padding-right: 24px;
    gap:24px;
    align-items: start;
}

.shopping-cart-card .product .product-description{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.shopping-cart-card {
    display:flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-direction: column;
    gap:32px;
}

.summary-cart-card{
    display:flex;
    flex-direction: column;
    flex-basis: 30%;
    flex-grow: 0;
    gap:12px;
    border-bottom: 2px solid #D79C4E;
    padding-bottom: 10px;   
}

.summary-cart-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.searchbar {
    display: flex;
    flex: 1;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.searchbar input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s ease;
}

.searchbar input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(215, 156, 78, 0.5);
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #D79C4E;
    border-radius: 5px;
    overflow: hidden;
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 20px;
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.topnav a:hover {
    background-color: #FFDEAD;
    color: #3E2723;
}

/* Main Content */
.mid {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.card {
    background-color: #FFF8E1;
    padding: 24px;
    margin: 16px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 18px;
    transition: transform 0.3s ease;
    border-bottom: 2px solid #D79C4E;
}

.card:hover {
    transform: translateY(-5px);
}

.card h1 {
    text-align: center;
    color: #3E2723;
    border-bottom: 2px solid #D79C4E;
    padding-bottom: 10px;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
}

.card li {
    margin-bottom: 15px;
}

.card li b {
    color: #D79C4E;
}

/* Best-Seller Section */
.best-sellers {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.best-sellers .product{
    height: 450px;
    width: 250px;
}

.product:hover {
    transform: scale(1.05);
}

.product-description, .product-image {
    text-align: center;
}

.product-image img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #3E2723;
    color: white;
    font-size: 14px;
    margin-top: 24px;


}

.footer a {
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    text-decoration: underline;
    color: #FFA500;
}